.new-event-message {
  color: #568794;
}

.event-form input, textarea {
  color: #568794;
  font-size: 1rem;
  margin-left: 80px;
}

.event-form label {
  color: #568794;
  font-size: 0.9rem;
  margin-left: 80px;
}

.textarea-pic {
  margin-bottom: 2%;
}

.eventSave-btn {
  margin-left: 85px;
}