.container {
  display: flex;
  width: 90%;
  justify-content: center !important;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .container {
    justify-content: space-around !important;
  }
}