.card {
  color: #568794;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 8vh;
  border-radius: 4%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

img {
  border-radius: 4%;
  width: 100%;
}

.title {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.price {
  font-weight: 600;
}

.ticket-btn {
  padding: 10px;
  margin-bottom: 2%;
}