.ticket-card {
  color: #568794;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 8vh;
  border-radius: 4%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.ticket-img {
  max-height: 100px;
  width: auto;
}

a {
  text-decoration: none;
}

input, textarea {
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3%;
  margin: 1%;
}

.ticket-title {
  color: #568794
}