.event-header {
  width: 100%;
  background: #9FBDD1;
  height: 85px;
  padding-left: 1%;
  margin-top: -3%;
}

h2 {
  color: #FFF2E8;
  padding-top: 2%;
}

h5 {
  color: #FFF2E8;
  margin-top: -2%;
}

.register-btn {
  float: right;
  clear: both;
  margin-top: -30px;
  margin-right: 2%;
}

.home-link {
  padding-left: 10%;
}