body {
  background: #FFF2E8;
}

.home-container {
  text-justify: auto;
}

.main-title {
  margin-left: 43.5%;
  color: #568794;
}

button {
  color: #FFF2E8;
  background: #568794;
  border: none;
  padding: 3px 6px 3px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.card > p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.card :last-child{
  padding-bottom: 4%;
}

.event-btn {
  position: fixed;
  top: 100px;
  right: 50px;
  float: right;
  margin-right: 1%;
  padding: 10px;
  font-weight: 600;
}

.pagina-div {
  margin-left: 45%;
}

.pagina {
  font-size: 1rem;
  padding: 10px;
  margin-right: 2%;
  margin-bottom: 5%;
}